/.github/ @gaborbernat @rahuldevikar
/tasks/ @gaborbernat @rahuldevikar
/hatch_build.py @gaborbernat @rahuldevikar
/pyproject.toml @gaborbernat @rahuldevikar
/src/virtualenv/seed/wheels/embed/ @gaborbernat @rahuldevikar
