[coverage:report]
show_missing = True
exclude_lines =
    \#\s*pragma: no cover
    ^\s*raise AssertionError\b
    ^\s*raise NotImplementedError\b
    ^\s*raise$
    ^if __name__ == ['"]__main__['"]:$
omit =
    # site.py is ran before the coverage can be enabled, no way to measure coverage on this
    src/virtualenv/create/via_global_ref/builtin/python2/site.py
    src/virtualenv/create/via_global_ref/_virtualenv.py
    src/virtualenv/activation/python/activate_this.py
    src/virtualenv/seed/wheels/embed/pip-*.whl/*

[coverage:paths]
source =
    src
    .tox/*/lib/python*/site-packages
    .tox/pypy*/site-packages
    .tox\*\Lib\site-packages\
    */src
    *\src

[coverage:run]
branch = false
parallel = true
source =
    ${_COVERAGE_SRC}
