# packaging
virtualenv.egg-info
build
dist
*.egg
.eggs

# documentation
docs/_build

# python
*.py[cod]
*$py.class

# tools
.tox
.*_cache
.DS_Store

# tbd
/tests/test_activate_output.actual
/tests/test_activate_output.expected

# IDE
.idea
.vscode
