repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-ast
  - id: check-builtin-literals
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/asottile/pyupgrade
  rev: v2.37.3
  hooks:
  - id: pyupgrade
    args: ["--py36-plus"]
    exclude: "^(src/virtualenv/create/via_global_ref/_virtualenv.py|src/virtualenv/create/via_global_ref/builtin/python2/site.py|src/virtualenv/discovery/py_info.py|tasks/__main__zipapp.py)$"
  - id: pyupgrade
    files: "^(src/virtualenv/create/via_global_ref/_virtualenv.py|src/virtualenv/create/via_global_ref/builtin/python2/site.py|src/virtualenv/discovery/py_info.py|tasks/__main__zipapp.py)$"
- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black
    args: [--safe]
- repo: https://github.com/asottile/blacken-docs
  rev: v1.12.1
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==22.6]
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: rst-backticks
- repo: https://github.com/tox-dev/tox-ini-fmt
  rev: "0.5.2"
  hooks:
  - id: tox-ini-fmt
    args: ["-p", "fix_lint"]
- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v2.0.0
  hooks:
  - id: setup-cfg-fmt
    args: [--min-py3-version, "3.6  ", "--max-py-version", "3.10"]
- repo: https://github.com/PyCQA/flake8
  rev: "5.0.4"
  hooks:
  - id: flake8
    additional_dependencies:
      - flake8-bugbear==22.7.1
      - flake8-comprehensions==3.10
      - flake8-pytest-style==1.6
      - flake8-spellcheck==0.28
      - flake8-unused-arguments==0.0.11
      - flake8-noqa==1.2.8
      - pep8-naming==0.13.1
