repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-ast
  - id: check-builtin-literals
  - id: check-docstring-first
  - id: check-merge-conflict
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: trailing-whitespace
- repo: https://github.com/asottile/pyupgrade
  rev: v2.21.0
  hooks:
  - id: pyupgrade
- repo: https://github.com/PyCQA/isort
  rev: 5.9.2
  hooks:
  - id: isort
- repo: https://github.com/psf/black
  rev: 21.6b0
  hooks:
  - id: black
    args: [--safe]
- repo: https://github.com/asottile/blacken-docs
  rev: v1.10.0
  hooks:
  - id: blacken-docs
    additional_dependencies: [black==20.8b1]
- repo: https://github.com/pre-commit/pygrep-hooks
  rev: v1.9.0
  hooks:
  - id: rst-backticks
- repo: https://github.com/tox-dev/tox-ini-fmt
  rev: "0.5.1"
  hooks:
  - id: tox-ini-fmt
    args: ["-p", "fix_lint"]
- repo: https://github.com/asottile/setup-cfg-fmt
  rev: v1.17.0
  hooks:
  - id: setup-cfg-fmt
    args: [--min-py3-version, "3.4"]
- repo: https://github.com/PyCQA/flake8
  rev: "3.9.2"
  hooks:
  - id: flake8
    additional_dependencies: ["flake8-bugbear == 20.1.4"]
