include AUTHORS.txt
include CONTRIBUTING.rst
include LICENSE.txt

include .coveragerc
include tox.ini

exclude .travis.yml
exclude appveyor.yml
exclude circle.yml
prune .appveyor

recursive-include docs Makefile make.bat *.py *.rst *.empty
recursive-include tests *.py *.ini *.zip *.c
