# setuptools-scm by default adds all SCM tracked files, we prune the following maintenance related ones (sdist only)
exclude .gitattributes
exclude .gitignore
exclude .github/*

exclude azure-pipelines.yml
exclude CONTRIBUTING.rst
exclude readthedocs.yml
exclude MANIFEST.in

exclude tasks/release.py
exclude tasks/upgrade_wheels.py
